@{
    ViewBag.Title = "Quản lý loại hàng hoá";
}
<!-- Form để tìm kiếm -->
<div class="container-fluid">
    <form id="formSearchInput">
        <div class="input-group">
            <input name="searchValue" type="text" class="form-control" placeholder="Nhập tên cần tìm..." value="">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                </button>
            </div>
        </div>
    </form>
</div>
<br />
<div id="informationCategory"></div>
@section scripts{
    <script>
        function getCategories(page) {
            var searchCondition = $("#formSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });
            $.ajax({
                url: "/Category/List",
                type: "POST",
                data: searchCondition,
                success: function (data) {
                    $("#informationCategory").empty();
                    $("#informationCategory").html(data);
                }
            });
        }
        function editCategory(id) {
            $.ajax({
                url: "/Category/Edit/" + id,
                type: "POST",
                success: function (data) {
                    if (data == "0") {
                        alert("Không thể tìm thấy loại hàng hoá này trong hệ thống . Vui lòng thủ lại sau!");
                    } else {
                        $("#informationCategory").empty();
                        $("#informationCategory").html(data);
                    } 
                }
            });
        }
        function addCategory() {
            $.ajax({
                url: "/Category/Add",
                type: "POST",
                success: function (data) {
                    $("#informationCategory").empty();
                    $("#informationCategory").html(data);
                }

            });
        }
        function saveCategory() {
            document.getElementById("errorCategoryName").innerHTML = "";
            var saveCondition = $("#formSaveInput").serializeArray();
            var check = 0;
            $.each(saveCondition, function (i, field) {
                if (field.name === "CategoryName") {
                    if (isNullOrWhitespace(field.value) === true) {
                        $("#errorCategoryName").append("Vui lòng tên loại hàng hoá !");
                        check = 1;
                    }
                }
            });
            if (check == 0) {
                $.ajax({
                    url: "/Category/Save",
                    type: "POST",
                    data: saveCondition,
                    success: function (data) {
                        console.log(data);
                        if (data == "1") {
                            getCategories(1);
                        } else {
                            alert("Lưu không thành công");
                        }
                    }
                });
                return false;
            }
        }
        function deleteCategory(id) {
            $.ajax({
                url: "/Category/Delete/" + id,
                type: "GET",
                success: function (data) {
                    if (data == "0") {
                        alert("Không thể tìm thấy loại hàng hoá này trong hệ thống . Vui lòng thủ lại sau!");
                    } else {
                        $("#informationCategory").empty();
                        $("#informationCategory").html(data);
                    }
                }
            });
        }
        function confirmDeleteCategory(id) {
            $.ajax({
                url: "/Category/Delete/" + id,
                type: "POST",
                success: function (data) {
                    if (data == "1") {
                        getCategories(1);
                    } else {
                        alert("Xoá không thành công");
                    }
                }
            });
            return false;
        }

        $(document).ready(function () {
            getCategories(1);
            $("#formSearchInput").submit(function (e) {
                e.preventDefault();
                getCategories(1);
            });
        });
    </script>
}