@model LiteCommerce.DomainModels.Shipper
@{ 
    Layout = null;
}
<div class="box box-primary">
    <div class="box-body">
        <h3 class="text-center">@ViewBag.Title</h3>
        <hr />
        <form id="formSaveInput" onsubmit="return (saveShipper());">
            @Html.HiddenFor(m => m.ShipperID)
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tên nhà vận chuyển:</label>
                        @Html.TextBoxFor(m => m.ShipperName, new { @class = "form-control", @autofocus = "autofocus" })
                        <span id="errorShipperName" style="color:red;"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Điện thoại:</label>
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                </div>
                <div class="col-md-6 text-right">
                    <a href="javascript:;" onclick="getShippers()" class="btn btn-warning">
                        <i class="fa fa-window-close"></i> Bỏ qua
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

